.menu-section {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  letter-spacing: 0.02em;
  color: #f7f6fe;
}
.menu-btn {
  width: 117px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background-color: #0c172c;
}
.hero-btn {
  padding: 12px;
  border-radius: 8px;
  background-color: #0c172c;
}
.menu-links {
  width: auto;
  height: 60px;
  padding: 21px 32px 21px 32px;
  gap: 40px;
  border-radius: 128px;
  border: 1px solid #0c172c;
  background-color: #0c172c;
  opacity: 0px;
}
.reason-head {
  font-family: Rubik;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
}
.why-choose-us {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  text-align: center;
}
.reason-card {
  width: 100%;
  max-width: 387px;
  height: 275px;
  padding: 24px 0px 24px 0px;
  border-radius: 12px;
  border: 1px solid #ece6ff;
  opacity: 0px;
}
.reason-card-text {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.32px;
  text-align: center;
}
.trends-card-topic-1 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #959595;
}
.trends-card-topic-2 {
  font-family: Manrope;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #333333;
}
.trends-link {
  border: 1px solid #616161;
  width: auto;
  height: 48px;
  padding: 10px 20px 10px 20px;
  gap: 9px;
  border-radius: 50px;
  font-family: Inter;
  font-size: 17.16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #000;
}
.hero-section {
  background-image: url("./assets//hero.svg"),
    linear-gradient(
      180deg,
      rgba(16, 128, 0, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-caption {
  font-family: Rubik;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  color: #2c1250;
}
.hero-caption-spotlight {
  font-family: Rubik;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  background: linear-gradient(
    90.62deg,
    #40ba0f -4.3%,
    #66d855 28.48%,
    #a3ee5b 47.64%,
    #188300 93.03%
  );
  -webkit-background-clip: text; /* For Chrome, Safari */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Ensures text color is not visible */
}
.hero-caption-text {
  font-family: Manrope;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}
