.menu-section {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  letter-spacing: 0.02em;
  color: #f7f6fe;
}
.menu-btn {
  width: 117px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  background-color: #0c172c;
}
.menu-links {
  width: auto;
  height: 60px;
  padding: 21px 32px 21px 32px;
  gap: 40px;
  border-radius: 128px;
  border: 1px solid #0c172c;
  background-color: #0c172c;
  opacity: 0px;
}
